<div class="completo">
    <a  [routerLink]="['/inicio']" class="nav-link px-sm-0 px-2">
        <i class="fs-5 bi-house text-dark fw-bold"></i><span class="ms-1 d-none d-sm-inline text-dark fw-bold">Volver</span>
    </a>
<div class="container d-flex align-items-center justify-content-center">
    <div class="box">
        <input type="checkbox" id="flip-card" class="flip-checkbox">
        <label for="flip-card" class="box-label">
            <div class="body">
                <div class="imgContainer">
                    <img src="../assets/images/PokeCard.jpg">
                </div>
                <div class="content d-flex flex-column align-items-center justify-content-center">
                    <div>
                        <h3 class="text-white fs-5">Post Title</h3>
                        <p class="fs-6 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sed cum neque, rem provident ex. Laboriosam perspiciatis modi eveniet in?</p>
                    </div>
                </div>
            </div>
        </label>
    </div>
</div>

<button class="btn btn-primary text-white fw-bold" (click)="getRandomPokemon()" [disabled]="user.pokebolas==0">ABRIR OTRA CARTA({{user.pokebolas}})</button>
</div>