<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-3 col-xl-2 bg-danger">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-12 col-lg-9 col-xl-10">
      <div class="row">
        <div class="col-12">
          <div id="userInfo">
            <app-user-info></app-user-info>
            <div class="row mt-5 justify-content-center">
              <h3>Opciones en tienda: </h3>
              <div class="d-flex py-4">

                <div class="card" style="width: 25rem;" >
                  <img src="../assets/images/NormalPokeBall.png" class="card-img-top" alt="NormalPokeBall">
                  <div class="card-body">
                    <h5 class="card-title">PokeBola Normal</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Incluye un pokemon aleatorio!</h6> 
                    <button type="submit" class="btn btn-danger text-white fw-bold">Comprar</button>

                  </div>
                </div>

                <div class="card" style="width: 25rem;" >
                  <img src="../assets/images/UltraPokeBall.png" class="card-img-top" alt="UltraPokeBall">
                  <div class="card-body">
                    <h5 class="card-title">PokeBola Ultra</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Incluye 3 pokemon aleatorios!</h6> 
                    <button type="submit"  class="btn btn-danger text-white fw-bold">Comprar</button>

                  </div>
                </div>

                <div class="card" style="width: 25rem;" >
                  <img src="../assets/images/MasterPokeBall.png" class="card-img-top" alt="MasterPokeBall">
                  <div class="card-body">
                    <h5 class="card-title">PokeBola Master</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Incluye 5 pokemon aleatorios!</h6> 
                    <button type="submit"  class="btn btn-danger text-white fw-bold">Comprar</button>
                  </div>
                </div>



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<app-footer></app-footer>

    
    
    
    