h3{
    padding: 3%;
}

.card{
min-height: 5rem;
min-width: 3rem;
border: 1px solid #ccc;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.grass-bg {
    background-color: rgb(186, 255, 186);
  }
  
  .fire-bg {
    background-color: rgb(255, 210, 142);
  }
  
  .water-bg {
    background-color: rgb(151, 204, 243);
  }
  
  .poison-bg {
    background-color: rgb(254, 190, 254);
  }

  .electric-bg {
    background-color: rgb(255, 255, 224);
  }

  .psychic-bg {
    background-color: rgb(243, 222, 169);
  }

  .fighting-bg {
    background-color:rgb(248, 174, 174);
  }

  .ground-bg {
    background-color:rgb(162, 117, 117);
  }

  .flying-bg {
    background-color:rgb(255, 255, 255);
  }

  .bug-bg {
    background-color: rgb(152, 251, 152);
  }

  .phantom-bg {
    background-color: rgb(115, 115, 115);
  }

  .dragon-bg {
    background-color: rgb(243, 70, 70);
  }

  .normal-bg {
    background-color: rgb(255, 255, 255);
  }

  .rock-bg {
    background-color: rgb(72, 67, 41);
  }
  
  .ghost-bg {
    background-color: rgb(122, 121, 116);
  }

  .fairy-bg {
    background-color: rgb(227, 151, 225);
  }

  .ice-bg {
    background-color: rgb(151, 231, 255);
  }