<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-danger d-flex sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                <a [routerLink]="['/inicio']" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-dark fw-bold text-decoration-none">
                    <span class="fs-5">Poke<span class="d-none d-sm-inline">Team</span></span>
                </a>
                <hr class="w-100 my-1" style="border: 2px solid white;">
                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a  [routerLink]="['/inicio']" class="nav-link px-sm-0 px-2">
                            <i class="fs-5 bi-house text-dark fw-bold"></i><span class="ms-1 d-none d-sm-inline text-dark fw-bold">Mi coleccion</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/inicio']" data-bs-toggle="collapse" class="nav-link px-sm-0 px-2">
                            <i class="fs-5 bi bi-bag text-dark fw-bold"></i><span class="ms-1 d-none d-sm-inline text-dark fw-bold">Tienda</span> </a>
                    </li>
                    <li>
                        <a [routerLink]="['/inicio']" class="nav-link px-sm-0 px-2">
                            <i class="fs-5 bi bi-wikipedia text-dark fw-bold"></i><span class="ms-1 d-none d-sm-inline text-dark fw-bold">PokeDex</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/inicio']" class="nav-link px-sm-0 px-2">
                            <i class="fs-5 bi bi-person-add text-dark fw-bold"></i><span class="ms-1 d-none d-sm-inline text-dark fw-bold">PokeAmigos</span></a>
                    </li>
                </ul>
            </div>
        </div>
</div>