<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 bg-danger">
          <app-sidebar></app-sidebar>
        </div>
        <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-4">
              <!-- Imagen en forma de círculo -->
              <img [src]="'../assets/images/EntrenadorPokemon1.jpg'" alt="Foto de perfil" class="rounded-circle img-fluid mb-3" width="150" height="150">
            </div>
            <div class="col-md-8">
                <div class="mt-4">
              <h2>Modificar Perfil</h2>
              <!--SE PUEDE MODIFICAR LA IMAGEN UTILIZANDO NUMEROS-->
              <form [formGroup]="signupForm">
                <div class="mb-3">
                  <label for="name" class="form-label">Nombre</label>
                  <input type="text" formControlName="name" id="name" class="form-control" placeholder="{{nombre}}">
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Correo Electrónico</label>
                  <input type="email" formControlName="email" id="email" class="form-control" placeholder="{{email}}">
                </div>
                <div class="mb-3">
                  <label for="apellido" class="form-label">Apellido</label>
                  <input type="text" formControlName="lastName" id="lastName" class="form-control" placeholder="{{apellido}}">
                </div>
                <div class="mb-3">
                  <label for="contrasenia" class="form-label">Contrasenia</label>
                  <input type="password" formControlName="password" id="password" class="form-control" placeholder="{{contrasenia}}">
                </div>
                <button type="submit" class="btn btn-primary" (click)="actualizarPerfil($event)">Guardar Cambios</button>
              </form>
            </div>
        </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  