<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-lg-3 col-xl-2 bg-danger">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-12 col-lg-9 col-xl-10">
      <div class="row">
        <div class="col-12">
          <div id="userLogin">
            <app-user-info></app-user-info>
            <h3 class="mb-3">Coleccion de: {{user.nombre}}</h3>
            <button class="btn btn-danger text-white fw-bold ml-5" *ngIf="user.pokebolas>0" (click)="goToAbrirCartas()">abrir cartas ({{user.pokebolas}})</button>
            <div class="row">
              <div class="col-6 col-md-4 col-lg-3" *ngFor="let pokemon of coleccion">
                <div class="card border border-dark mt-3" style="width: 15rem; height: 31rem;" >
                <div class="" style="width: 14.9rem; height: 10rem; border: 1px solid #ccc; box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);" 
                  [ngClass]="{ 'grass-bg': isGrassType(pokemon), 'water-bg': isWaterType(pokemon),'poison-bg': isPoisonType(pokemon),'electric-bg': isElectricType(pokemon),'psychic-bg': isPsychicType(pokemon),'fighting-bg': isFightingType(pokemon), 'ground-bg': isGroundType(pokemon), 'bug-bg': isBugType(pokemon), 'flying-bg': isFlyingType(pokemon), 'fire-bg': isFireType(pokemon) }">
                  <img [src]="pokemon.sprites.front_default" class="card-img-top" alt="Imagen del Pokemon">
                  <div class="card-body">
                    <h5 class="card-title">{{ pokemon.name.toUpperCase() }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{pokemon.descripcion}}</h6> 
                    <div class="card-header bg-dark text-white">
                      Tipo:
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item" *ngFor="let type of pokemon.types">{{ type.type.name }}</li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

  
  
  
  